.product {
    cursor: pointer;
    user-select: none;
}

.product img {
    user-select: none;
}

#products_table {
    overflow: scroll;
}

.category-item {
    cursor: pointer;
}

.eles {
    flex-wrap: wrap;
}